/* You can add global styles to this file, and also import other style files */


h1 {
    color: #95a5a6;
    text-align: center;
}
body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
